<!-- app/templates/cadastro_medidas.html -->
{% extends "base.html" %}

{% block title %}Cadastrar Medidas{% endblock %}

{% block content %}

<h3 class="text-fit">Registro de Medidas</h3>
<form method="post" action="/aluno/{{ aluno_id }}/medidas">
    <div class="mb-3">
        <label class="form-label text-fit fs-5">Peso (kg)</label>
        <input type="number" step="0.01" name="peso" class="form-control bg-input borda-fit fs-5 py-3" placeholder="Digite peso" required>
    </div>
    <div class="mb-3">
        <label class="form-label text-fit fs-5">Altura (cm)</label>
        <input type="number" step="0.01" name="altura" class="form-control bg-input borda-fit fs-5 py-3" placeholder="Digite altura" required>
    </div>
    <div class="mb-3">
        <label class="form-label text-fit fs-5">Cintura (cm)</label>
        <input type="number" step="0.01" name="cintura" class="form-control bg-input borda-fit fs-5 py-3" placeholder="Digite cintura" required>
    </div>
    <div class="mb-3">
        <label class="form-label text-fit fs-5">Quadril (cm)</label>
        <input type="number" step="0.01" name="quadril" class="form-control bg-input borda-fit fs-5 py-3" placeholder="Digite quadril" required>
    </div>
    <div class="mb-3">
        <label class="form-label text-fit fs-5">Tórax (cm)</label>
        <input type="number" step="0.01" name="torax" class="form-control bg-input borda-fit fs-5 py-3" placeholder="Digite tórax" required>
    </div>

    <div class="w-100 mb-5 mt-4 d-flex gap-5">
        <div class="w-50">
            <a href="/aluno/{{ aluno_id }}/dashboard" class="btn btn-secondary fs-5 fw-bold w-100 py-3"><i class="bi-arrow-left me-3"></i> Voltar</a>
        </div>
        <div class="w-50">
            <button type="submit" class="btn btn-warning fs-5 fw-bold w-100 py-3">Salvar <i class="bi-pencil-square ms-3"></i></button>
        </div>
    </div>
</form>
{% endblock %}
